

.thank-you{
    position: absolute;
    top: 244px;
    left: 2em;
    color:  hsl(279, 6%, 55%);
    text-align: center;
background-color: white;
padding: 20px;
border-radius: 10%;
line-height: 3em;
}

button{
    width:45%;
}


@media screen and (min-width:280px) and (max-width:290px){

.thank-you{
    position: absolute;
    top: 244px;
    right: 2em;
    color:  hsl(279, 6%, 55%);
    text-align: center;
background-color: white;
padding: 20px;
border-radius: 10%;
line-height: 3em;
}

}


@media  screen and (min-width:320px) and (max-width:568px) {

.thank-you{
    position: absolute;
    top: 244px;
    left: 1em;
    color:  hsl(279, 6%, 55%);
    text-align: center;
background-color: white;
padding: 20px;
border-radius: 10%;
line-height: 3em;
}
} 


@media screen and (min-width:360px) and (max-width:760px)  {

.thank-you{
    position: absolute;
    top: 244px;
    left: 2.4em;
    color:  hsl(279, 6%, 55%);
    text-align: center;
background-color: white;
padding: 20px;
border-radius: 10%;
line-height: 3em;
}
} 


@media screen and (min-width:375px) and (max-width:812px){
    .thank-you{
        position: absolute;
        top: 244px;
        left: 2.8em;
        color:  hsl(279, 6%, 55%);
        text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10%;
    line-height: 3em;
    }
} 

@media screen and (min-width:390px)  {
    .thank-you{
        position: absolute;
        top: 244px;
        left: 3.3em;
        color:  hsl(279, 6%, 55%);
        text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10%;
    line-height: 3em;
    }
}

@media screen and (min-width:400px)  {
    .thank-you{
        position: absolute;
        top: 244px;
        left: 4em;
        color:  hsl(279, 6%, 55%);
        text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10%;
    line-height: 3em;
    }
}




@media screen and (min-width:600px)  {
    .thank-you{
        position: absolute;
        top: 244px;
        left: 13.3em;
        color:  hsl(279, 6%, 55%);
        text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10%;
    line-height: 3em;
    }
} 




@media screen and (min-width:760px)  {

.thank-you{
    position: absolute;
    top: 112px;
    left: 34em;
    color:  hsl(279, 6%, 55%);
    text-align: center;
background-color: white;
padding: 20px;
border-radius: 10%;
line-height: 3em;
}


}