*::before,
*::after{
  box-sizing: border-box;
}
*{
  margin: 0;
}

body{
  height: 100vh;
  background-image: url('/src/images/bg-main-mobile.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.container{
  position: relative;
}


.back-of-card{
position: absolute;
left: 120px;
top: 30px;
}
.back-of-card img{
width: 87%;
}

.back-of-card p{
  position: absolute;
top: 50px;
left: 163px;
}

.front-of-card{
  position: absolute;
  top: 107px;
  left: 72px;
}

.front-of-card img{
width: 75%;
}

.cardBody{
position: absolute;
top: 10px;
left: 7px;
}

.cardBody .logo{
  width: 32%;
  margin-left: 10px;
}

.bottomBody{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.bottomBody .dates{
  margin-left: 50px;
}


@media  screen and (min-width:320px) and (max-width:568px) {
  

  .container{
    font-size: 18px;
  }


.back-of-card{
  position: absolute;
  left: 70px;
  top: 72px;
  }
  .back-of-card img{
  width: 92%;
  }
  
  .back-of-card p{
    position: absolute;
  top: 50px;
  left: 161px;
  }
  
  .front-of-card{
    position: absolute;
    top: 152px;
    left: 32px;
  }
  
  .front-of-card img{
  width: 83%;
  }

  .cardBody h3{
    margin-left: 10px;
  }

}

@media  screen and (min-width:360px){
 
  .container{
    font-size: 20px;
  }

  .back-of-card{
    position: absolute;
    left: 86px;
    top: 80px;
    }

    .back-of-card img{
    width: 90%;
    }
   
  .back-of-card p{
    position: absolute;
  top: 54px;
  left: 173px;
  }


  .front-of-card{
    position: absolute;
    top: 165px;
    left: 50px;
  }

  .front-of-card img{
    width: 78%;
    }

    .cardBody h3{
      margin-left: 0px;
    }

    .bottomBody .dates{
      margin-left: 24px;
    }

}


@media screen and (min-width:375px) and (max-width:812px){

  .container{
    font-size: 18px;
  }


  .back-of-card{
    position: absolute;
    left: 100px;
    top: 90px;
    }
    .back-of-card img{
    width: 90%;
    }
   
   
  .back-of-card p{
    position: absolute;
  top: 54px;
  left: 168px;
  }

  .front-of-card{
    position: absolute;
    top: 170px;
    left: 52px;
  }

  .front-of-card img{
    width: 77%;
  }

  .cardBody h3{
    margin-left: 15px;
  }

  .bottomBody .dates{
    margin-left: 59px;
  }

}


@media screen and (min-width:380px)  {
 
  .back-of-card p{
    position: absolute;
  top: 56px;
  left: 168px;
  }

  .front-of-card{
    position: absolute;
    top: 178px;
    left: 52px;
  }

}

@media screen and (min-width:390px)  {
  .back-of-card p{
    position: absolute;
  top: 58px;
  left: 178px;
  }

  .cardBody h3{
    margin-left: 20px;
  }

}


@media screen and (min-width:400px)  {
  
  .back-of-card{
    position: absolute;
    left: 120px;
    top: 90px;
    }
    .back-of-card img{
    width: 89%;
    }
   
  .back-of-card p{
    position: absolute;
  top: 54px;
  left: 178px;
  }

  .front-of-card{
    position: absolute;
    top: 179px;
    left: 50px;
  }

  .front-of-card img{
    width: 75%;
  }
  
}

@media screen and (min-width:412px){

  .back-of-card p{
    position: absolute;
  top: 58px;
  left: 178px;
  }

  .cardBody h3{
    margin-left: 27px;
  }

  .bottomBody {
    margin-left: 14px;
  }
}


@media screen and (min-width:420px){

  .back-of-card p{
    position: absolute;
  top: 59px;
  left: 178px;
  }

  .cardBody h3{
    margin-left: 30px;
  }

  .bottomBody {
    margin-left: 13px;
  }


}

@media screen and (min-width:500px){

  .container{
    font-size: 25px;
  }

  .back-of-card{
    position: absolute;
    left: 120px;
    top: 120px;
    }

    .front-of-card{
      position: absolute;
      top: 230px;
      left: 50px;
    }

    .back-of-card p{
      position: absolute;
    top: 79px;
    left: 234px;
    }
  
    .cardBody h3{
      margin-top: 10px;
      margin-left: 18px;
    }
  
    .bottomBody {
      margin-top: 40px;
    }

}


@media screen and (min-width:600px){
  .container{
    font-size: 24px;
  }


.back-of-card{
  position: absolute;
  left: 240px;
  top: 140px;
  }

  .back-of-card img{
  width: 87%;
  }
  
  .back-of-card p{
    position: absolute;
  top: 92px;
  left: 261px;
  }
  
  .front-of-card{
    position: absolute;
    top: 265px;
    left: 150px;
  }
  
  .front-of-card img{
  width: 87%;
  }

 .cardBody .logo{
    width: 25%;
  }

  .cardBody h3{
    margin-top: 18px;
    margin-left: 50px;
  }

  .bottomBody {
    margin-top: 60px;
  }

  .bottomBody .dates{
    margin-left: 135px;
  }

}




@media screen and (min-width:760px){
  body{
    height: 100vh;
    background-image: url('/src/images/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-size: 25% 100%;
  }
  
  .container{
    position: relative;
  }
  
  
  .back-of-card{
  position: absolute;
  left: 168px;
  top: 393px;
  }
  .back-of-card img{
  width: 75%;
  }
  
  .back-of-card p{
    position: absolute;
  top: 80px;
  left: 246px;
  }
  
  .front-of-card{
    position: absolute;
    top: 107px;
    left: 72px;
  }
  
  .front-of-card img{
  width: 75%;
  }

  .cardBody{
    top: 10px;
  }

  .cardBody .logo{
    width: 20%;
  }
  
  .cardBody h3{
    margin-left: 25px;
  }

  .bottomBody{
    margin-top: 40px;
  }

  .bottomBody .dates{
    margin-left: 30px;
  }
  
}



@media  screen and (min-width:800px) and (max-width:1080px) {
 
  body{
    height: 100vh;
    background-image: url('/src/images/bg-main-mobile.png');
    background-repeat: no-repeat;
    background-size:  100%;
  }

  .container{
    font-size: 24px;
  }


.back-of-card{
  position: absolute;
  left: 338px;
  top: 183px;
  }

  .back-of-card img{
  width: 87%;
  }
  
  .back-of-card p{
    position: absolute;
  top: 92px;
  left: 281px;
  }
  
  .front-of-card{
    position: absolute;
    top: 311px;
    left: 236px;
  }
  
  .front-of-card img{
  width: 87%;
  }

  .cardBody h3{
    margin-left: 46px;
  }

  .bottomBody{
    margin-top: 60px;
  }

  .bottomBody {
    margin-left: 30px;
  }

}
 