*::before,
*::after{
  box-sizing: border-box;
}
*{
  margin: 0;
}

body{
  height: 100vh;
  background-image: url('/src/images/bg-main-mobile.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.container{

  position: relative;
}


.back-of-card{
position: absolute;
left: 120px;
top: 30px;
}
.back-of-card img{
width: 87%;
}

.back-of-card p{
  position: absolute;
top: 50px;
left: 163px;
}

.front-of-card{
  position: absolute;
  top: 107px;
  left: 72px;
}

.front-of-card img{
width: 73%;
}


@media  screen and (min-width:320px) and (max-width:568px) {
  
}

@media  screen and (min-width:360px){
 
  
}


@media screen and (min-width:375px) and (max-width:812px){
 
}

@media screen and (min-width:400px)  {
  
  
}


@media screen and (min-width:600px){

}




@media screen and (min-width:760px){
 
}



@media  screen and (min-width:800px) and (max-width:1080px){
 

}
 